<ion-header>
    <ion-toolbar color="dark">
      <ion-title>Crime Stopper</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-progress-bar value="0.25" buffer="0.5"></ion-progress-bar>
  <ion-card>
      <ion-segment  color="secondary" scrollable>
          <ion-segment-button value="My Complaints">
            <ion-label>My Complaints</ion-label>
          </ion-segment-button>
          <ion-segment-button value="Intersted Complaints">
            <ion-label>Intersted Complaints</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-card>
        <ion-card class="complaintCard">
            <ion-item margin-center lines="none">
              <ion-avatar class="compaintAvatharStyle">
                  <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
              </ion-avatar>
                 <ion-text> manu</ion-text>
              </ion-item>
          <img src="/assets/shapes.svg" alt="" />
          <ion-card-header>
            <ion-card-title>car parked in no parking</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
          </ion-card-content>
        </ion-card>
        <br>
            <ion-card class="complaintCard">
                <ion-item margin-center>
                  <ion-avatar class="compaintAvatharStyle">
                      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                  </ion-avatar>
                     <ion-text> manu</ion-text>
                  </ion-item>
              <img src="/assets/shapes.svg" alt="" />
              <ion-card-header>
                <ion-card-title>car parked in no parking</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
              </ion-card-content>
            </ion-card>
  
  </ion-content>
  