
.welcome-card ion-img {
    max-height: 35vh;
    overflow: hidden;
  }
  
  .alert-button {
    height: 100px;
    width: 100px;
  }
  .cursor {
    font-size: larger;
    position: relative;
    padding-right: 13px;
  }
