<ion-header>
    <ion-toolbar color="dark">
      <ion-title>
       
          Crime Stopper
        
      </ion-title>

   <ion-icon slot="end" class="cursor" name="notifications"></ion-icon>
    </ion-toolbar>
  </ion-header>

<ion-content color="secondry">
 
  <br>
  <ion-card>
    <ion-segment color="shade">
        <ion-segment-button  value="all">
          <ion-label><ion-text color="dark">All</ion-text></ion-label>
        </ion-segment-button>
        <ion-segment-button value="traffic">
          <ion-label color="dark">Traffic</ion-label>
        </ion-segment-button>
        <ion-segment-button value="bribe">
            <ion-label color="dark">Bribe</ion-label>
          </ion-segment-button>
      </ion-segment>
    </ion-card>
    <ion-card complaintCard class=" complaintCard">
        <ion-item margin-center lines="none">
          <ion-avatar class="compaintAvatharStyle">
              <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
             <ion-text> manu</ion-text>
          </ion-item>
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-title>car parked in no parking</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
        <ion-row>
          <ion-col>
            <ion-text>
            23 likes
          </ion-text>
        </ion-col>
        <ion-col>
            <ion-text>
                23 dislikes
              </ion-text>
        </ion-col>
      </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-buttons class="complaintButtons">
        <ion-button slot="start" shape="round" class="complaintButton " color="medium" fill="solid">
          <ion-icon name="thumbs-up"></ion-icon>       
         </ion-button>
       
        <ion-button slot="end" shape="round" class="complaintButton " color="medium" fill="solid">
          <ion-icon name="thumbs-down"></ion-icon>
        </ion-button>
       
        <ion-button slot="end" [routerLink]="['/comments']" shape="round" class="complaintButton " color="medium" fill="solid">
          <ion-icon name="text"></ion-icon>       
         </ion-button>
         
    </ion-buttons>
    <br>
        <ion-card class="complaintCard">
            <ion-item margin-center>
              <ion-avatar class="compaintAvatharStyle">
                  <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
              </ion-avatar>
                 <ion-text> manu</ion-text>
              </ion-item>
          <img src="/assets/shapes.svg" alt="" />
          <ion-card-header>
            <ion-card-title>car parked in no parking</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
          </ion-card-content>
        </ion-card>
        <ion-buttons class="complaintButtons">
          <ion-button slot="start" shape="round" class="complaintButton "color="medium" fill="solid">
            <ion-icon name="thumbs-up"></ion-icon>       
           </ion-button>
         
          <ion-button slot="end" shape="round" class="complaintButton " color="medium" fill="solid">
            <ion-icon name="thumbs-down"></ion-icon>
          </ion-button>
         
          <ion-button slot="end" href="/comments" shape="round" class="complaintButton " color="medium" fill="solid">
            <ion-icon name="text"></ion-icon>       
           </ion-button>
           
      </ion-buttons>
        <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
            <ion-fab-button (click)="createComplaint()" color="dark" class="animated rotateIn">
              <ion-icon name="add"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        
</ion-content>
